<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Screen2Connection" connectionString="data source=localhost;initial catalog=Screen2DB;user id=mydbuser;password=password1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="EODASXConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=screen2storage;AccountKey=k1zreET/wfmSwGHBKZLS+sdqB9nPdmdFnTQnlkQT1t4OliE7fJB5eGlKFqigNdfjnzeQy3oa0JrlLDc3CvI+Ig==;BlobEndpoint=https://screen2storage.blob.core.windows.net/;TableEndpoint=https://screen2storage.table.core.windows.net/;QueueEndpoint=https://screen2storage.queue.core.windows.net/;FileEndpoint=https://screen2storage.file.core.windows.net/" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>